<%- include('layout'); -%>
<div class="container">
    <div class="container">
      <div class="sidebar-container">
        <button class="sidebar-toggle">
          <i class="fa-solid fa-book"></i>
          <!-- <p>Últimas vendas</p> -->
        </button>
        <div class="sidebar">
          <h3>Últimas Vendas</h3>
          <ul>
            <% latest_sales.forEach(sale => { %>
              <% console.log(sale); %>
              <% const saleDate = new Date(sale.ts); %>
              <li class="<%= sale.cancellation ? 'cancelled' : '' %>">
                <%= sale.id %> - às
                <%= saleDate.getHours() %>:<%= String(saleDate.getMinutes()).padStart(2, '0') %> no valor de R$  
                <%= sale.sale_total %>
                <% if (!sale.cancelled) { %>
                  <form id="cancel-sale-form" action="/cancel-sale" method="POST" style="display: none;">
                    <input type="hidden" id="event-id" name="event_id" value="<%= event.id %>"">
                    <input type="hidden" id="sale-id" name="sale_id" value="">
                    <input type="hidden" id="cancel-reason" name="reason" value="">
                  </form>
                  
                  <button class="cancel-sale-button" onclick="cancelSale('<%= sale.id %>')"><i class="fas fa-times"></i></a></button>
                <% } %>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>   
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3>Registro de Venda</h4>
                <h4> <%- event.event_name  %></h3>
              </div>       
              <div class="card-body">
                <form method="POST" action="/new-sale">
                  <input type="hidden" class="form-control" id="event_id" name="event_id" value="<%= event.id %>" readonly>

                  <h3>Itens à venda</h3>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nome do Item</th>
                        <th>Valor do Item</th>
                        <th>Quantidade</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0; i < event.item_name.length; i++) { %>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="item_name_<%= i %>" name="item_name[]" value="<%= event.item_name[i] %>" tabindex="-1" readonly>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="item_price_<%= i %>" name="item_price[]" value="<%= event.item_price[i] %>" tabindex="-1" readonly>
                                <input type="hidden" class="form-control" id="item_discount_policy_<%= i %>" name="item_discount_policy[]" value="<%= event.item_discount_policy[i] %>" tabindex="-1" readonly>
                                <input type="hidden" class="form-control" id="item_discount_value_<%= i %>" name="item_discount_value[]" value="<%= event.item_discount_value[i] %>" tabindex="-1" readonly>
                            </td>
                            <td>
                                <input type="number" class="form-control item-quantity" id="item_quantity_<%= i %>" name="item_quantity[]" min="0" value="0" <%= i==0 ? 'autofocus' : '' %> onfocus="this.select();" >
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                  </table>
                  <div class="form-group">
                    <label for="sale_total">Desconto:</label>
                    <input type="number" class="form-control" id="sale_discount" name="sale_discount" tabindex="-1" readonly>
                  </div>
                  <div class="form-group">
                    <label for="sale_total">Total da Venda:</label>
                    <input type="number" class="form-control" id="sale_total" name="sale_total" tabindex="-1" readonly>
                  </div>

                  <hr>

                  <!-- <h3>Opções de Pagamento</h3>
                  <div class="form-group">
                    <label for="payment_method">Método de pagamento:</label>
                    <select class="form-control" id="payment_method" name="payment_method">
                      <option value="cash">Dinheiro</option>
                      <option value="card">Cartão</option>
                      <option value="transfer">Transferência</option>
                    </select>
                  </div> -->

                <div id="cash-payment-fields" style="display: block;">
                    <hr>
                    <h3>Pagamento em Dinheiro</h3>
                    <div class="form-group">
                    <label for="paid_amount">Valor Pago:</label>
                    <input type="number" class="form-control" id="paid_amount" name="paid_amount" min="0" step="0.01">
                    </div>
                    <div class="form-group">
                    <label for="change_amount">Troco:</label>
                    <input type="number" class="form-control" id="change_amount" name="change_amount" value="0" tabindex="-1" readonly>
                    </div>
                </div>

                  <!-- <hr>

                  <h3>Informações do Comprador</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="buyer_name">Nome:</label>
                        <input type="text" class="form-control" id="buyer_name" name="buyer_name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="buyer_cpf">CPF:</label>
                        <input type="text" class="form-control" id="buyer_cpf" name="buyer_cpf">
                      </div>
                    </div>
                  </div> -->

                  <button type="submit" class="btn btn-primary">Registrar Venda</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('body').on('keydown', 'input, select', function(e) {
      if (e.key === "Enter") {
          var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
          focusable = form.find('input,a,select,button,textarea').filter(':visible:not([readonly]):enabled');
          next = focusable.eq(focusable.index(this)+1);
          if (next.length) {
              next.focus();
          } else {
              form.submit();
          }
          return false;
      }
    });
    $(document).ready(function() {
        $("#payment_method").change(function() {
            if ($(this).val() == "cash") {
            $("#cash-payment-fields").show();
            calculateChange();
            } else {
            $("#cash-payment-fields").hide();
            }
        });

        $(".sidebar-toggle").click(function() {
          $(".sidebar-container").toggleClass("open");
        });

        $('.item-quantity').on('input', function() {
            calculateTotal();
        });
      
        $("#paid_amount").keyup(function() {
            calculateChange();
        });
      
        function calculateChange() {
            var sale_total = parseFloat($("#sale_total").val());
            var paid_amount = parseFloat($("#paid_amount").val());
            var change_amount = paid_amount - sale_total;
            $("#change_amount").val(change_amount.toFixed(2));
        }

        function calculateTotal() {
            var total = 0;
            var discount = 0;
            $('input[name="item_price[]"]').each(function() {
              var quantity = parseInt($(this).closest('tr').find('input[name="item_quantity[]"]').val());
              var value = parseFloat($(this).val());
              const discount_policy = $(this).closest('tr').find('input[name="item_discount_policy[]"]').val();
              const discount_value = parseFloat($(this).closest('tr').find('input[name="item_discount_value[]"]').val());
              if(!isNaN(quantity) && !isNaN(value)) {
                  total += (quantity * value);
              }
              if(discount_policy === 'par') {
                const numPairs = Math.floor(quantity / 2);
                discount += discount_value * numPairs;
              }
            });
            total -= discount;
            var paid = parseFloat($('input[name="paid_amount"]').val()) || 0;
            var change = (paid - total).toFixed(2);
            $('input[name="sale_discount"]').val(discount.toFixed(2));
            $('input[name="sale_total"]').val(total.toFixed(2));
            $('input[name="change_amount"]').val(change);
        }

        // Bind the calculateTotal function to the quantity and paid_value fields
        $('input[name="item_quantity[]"], input[name="change_amount"]').on('input', calculateTotal);

        // Trigger the calculateTotal function on page load
        calculateTotal();
    });
</script>

<script>
  function cancelSale(saleId) {
    // Ask for confirmation
    var confirmation = confirm("Tem certeza que deseja cancelar a venda "+saleId+"?");

    // If user confirms, prompt for reason
    if (confirmation) {
      var reason = prompt("Por favor, informe brevemente a razão do cancelamento:");

      // Proceed with canceling the sale
      if (reason) {
        // Set the sale ID and reason in the form
        document.getElementById('sale-id').value = saleId;
        document.getElementById('cancel-reason').value = reason;

        // Submit the form
        document.getElementById('cancel-sale-form').submit();
      }
    }
  }
</script>